$header-height: 64px;
$footer-height: 70px;

/* el主题色 */
$primary-color: #589ef8;
$success-color: #21ba45;
$waring-color: #FF9043;
$danger-color: #db2828;
$error-color: #db2828;
$info-color: #589ef8;
/* 栏目反转/暗色模式颜色 */
$white-theme: #FFFFFF;   // 亮色
$black-theme: #304156;// 暗色

:export {
    headerHeight: $header-height;
    footerHeight: $footer-height;

    primaryColor: $primary-color;
    successColor: $success-color;
    waringColor: $waring-color;
    dangerColor: $danger-color;
    errorColor: $error-color;
    infoColor: $info-color;

    whiteTheme: $white-theme;
    blackTheme: $black-theme;
}