@use './util' as ut;

.slide-y-transition {
    @include ut.animation-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(-15px);
    }
}

.slide-y-reverse-transition {
    @include ut.animation-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(15px);
    }
}

.slide-x-transition {
    @include ut.animation-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(-15px);
    }
}

.slide-x-reverse-transition {
    @include ut.animation-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(15px);
    }
}