@use "../var.scss" as variable;
$primary-color: variable.$primary-color;
$success-color: variable.$success-color;
$waring-color: variable.$waring-color;
$danger-color: variable.$danger-color;
$error-color: variable.$error-color;
$info-color: variable.$info-color;
@forward "element-plus/theme-chalk/src/dark/var.scss" with (
    $colors: (
        "primary": ("base": $primary-color ),
    )
);
// 引入暗黑主题
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;