@use "../var.scss" as variable;
$primary-color: variable.$primary-color;
$success-color: variable.$success-color;
$waring-color: variable.$waring-color;
$danger-color: variable.$danger-color;
$error-color: variable.$error-color;
$info-color: variable.$info-color;

// 使用theme-chalk 生成最终css，覆盖原来的主题样式
@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: (
        "primary": ("base": $primary-color,),
        "success": ("base": $success-color,),
        "warning": ("base": $waring-color,),
        "danger": ("base": $danger-color,),
        "error": ("base": $error-color,),
        "info": ("base": $info-color,),
    ),
);
// 非按需引入需要导入一下scss
@use "element-plus/theme-chalk/src/index.scss" as *;

// 自定义暗色主题
@use "./dark.scss";
@use "./reset.scss";